@font-face {
    font-family: "Sunnysfont";
    src: url('../fonts/Sunnysfontstyle-Regular.ttf');
}
@font-face {
    font-family: "Pixelfont";
    src: url('../fonts/Pixelfont.ttf');
}
body{
    height:100%;
    width: 100%;
    margin:0;
    box-sizing: border-box;
    overflow: scroll;
    background-color: #fffcb3;
    
}
::-webkit-scrollbar{
    background-color:#fffcb3;
   
}
::-webkit-scrollbar-thumb{
    background-color:#707b51;
}

/*Sunnyandkate.html*/
.container{
    background-image: url("../images/TitleImg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Pixelfont";
    font-size: 2rem;
    width: 100%;
    height:100%;
    min-width: 30rem;
    min-height:30rem;
    margin: 0;
    padding: 0;
    position: relative;

}
.btnTextAdv, .aboutBtn, .gamesBtn, .contactBtn{
   
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
   
}

/* 
.cloudGameBtn img, .coinCollectorBtn img, .jumpingCatBtn img, .platformerBtn img{
    width: 100px; 
    height: auto;
} */

.btnTextAdv img, .aboutBtn img, .gamesBtn img, .contactBtn img,  
 .yogaCatBtn img, .islandOfSecretsBtn img, .catDetectiveBtn img, .slidePuzzleBtn img{
    width: 100px; 
    height: auto;
}
.javaBtn img{
    width: 60px;
    height: auto;
}


.player{
    position: relative;
    top:0;
    left: 0;
    z-index: 99;
    width: 25px;
    height:25px;
}
.npc img{
    width: 25px;
    height: 25px;
}
.player02, .player01{
    width: 50px;
    height: 50px;
}
.npcInteraction{
    position:absolute;
    top: 0px;
    left: 0px;
}
.npcSpeechBubble{
    display: none;
    color: #707b51;
    background-color: #fffcb3;
    border: .5rem solid #707b51;
    border-radius: .5rem;
    box-shadow: 2px 2px 12px #707b51;
    padding: 1rem 1.5rem;
    margin: 0;
    position: absolute;
    top: -50px;
    left: 50px;
    z-index: 99;
}
.npcSpeechBubble h2{
    font-family:'Pixelfont', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;   
    margin: 0;
}
.npcSpeechBubble ul{
    list-style: none;
    padding: 0;
}
.npcSpeechBubble ul li{
    font-family:'Pixelfont', Comic Sans, Tahoma, sans-serif;
    font-size:1rem;
}
.welcome{
    font-size:1rem;
    margin-top: 0;
    padding-top: 3rem;
    padding-left:2rem;
    color:beige;
    z-index: 999;
}

/*TitleScreen*/
.titleContainer{  
    background-image: url("../images/TitleImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Sunnysfont";
    font-size: 2rem;
   /* width: 100vw;*/
    height:100vh;
    margin: 0 auto;
    padding: 0;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   
   
}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 123, 81, 0.328);
   
}
#title{
    width: 80%;
}
.title{
    position: relative;
    top:20%;
    animation:fadeDown 5s ease-in;
    text-align: center;
}


@keyframes fadeDown {
    0% { top: 0px;}
   
    100% { top: 20%;}
}
.startBtn{
    font-family: "Pixelfont";
    font-size: 0.8rem;
    color: #707b51;
    padding: 0.5rem 1rem;
    background-color:#fffcb3;
    border: 2px solid #707b51;
    border-radius: 0.5rem;
    box-shadow:2px 2px 2px #707b51;
    text-decoration: none;
    z-index: 999;
  
}
.startBtn:hover{
    color: #fffcb3;
    background-color: #707b51;
    border: 2px solid #fffcb3;
    box-shadow:2px 2px 2px #fffcb3;
}

.players{
    display: flex;
    flex-direction: row;   
}
.player01, .player02{
    color:transparent;
}
/*about page*/
.about-container, .contact-container{      
    color:#707b51;
    background-color:#fffcb3;
    background-image: url("../images/TitleImg.png");
    background-position-y: 60%;   
    background-repeat: no-repeat;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

.about-container, .contact-container{
    font-family: "Pixelfont";
    font-size:1rem;
    text-transform: uppercase;   
}

.about-content{
    background-image: url("../images/aboutpage-bg.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 2rem;
    margin: .5rem;
}
.about-content .npc{
    align-items:end;
    width: 50px;
    height: 50px;
}
.about-top{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.about-top p{
    font-family:'Pixelfont', Comis Sans, Tahoma, sans-serif;
}
.about-container .btn-row, .contact-container .btn-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.about-container .btn, .contact-container .btn{
    border: .2rem solid #707b51;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 2px 2px 2px #707b51;
    margin-bottom:1rem;
    text-align: center;
}
.about-container .btn{
    padding-left: 2rem;
    padding-right: 2rem;
}
.contact-container .btn{
    width: 60%;
}
.about-container .btn:hover, .contact-container .btn:hover{
    color:#fffcb3;
    background-color: #707b51;
}
.about-container .btn a, .contact-container .btn a{
    text-decoration: none;
    color:#707b51;
}
.contact-container .btn a{
    text-transform: lowercase;
}
.about-container .btn:hover a, .contact-container .btn:hover a{
    color:#fffcb3;
}
/*contact*/
.contactInfo{
    text-transform: lowercase;
    color:#bd8e75;
    text-decoration: none;
}
/*java projects*/
.java-title{
    display: block;
}
.java-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:1rem;
}
.java-list li{
    list-style: none;
}
.java-list li a{
    text-decoration: none;
    color:#707b51;
}
.java-list li a:hover{
    color:#3e2e28;
}
.java-sublist li{
    list-style-type:circle;
}
/*error page*/
.error-message{
    text-align:center;
}
.error-message p{
    color:#fffcb3;
    text-shadow:2px 2px 2px #707b51;
    font-size:1.5rem;
    text-transform:uppercase;
    margin-top:3rem;
}
/*privacy policy, legal*/
.header-img{
    width: 100%;
    object-fit:cover;
}
.privacyPolicy, .legal{
    font-family: Arial, Helvetica, sans-serif;
    color:#707b51;
    margin:4rem auto; 
    width:90%;
}
.privacyPolicy p, .privacyPolicy h2, .privacyPolicy h3, .privacyPolicy h4, .privacyPolicy h5,
 .privacyPolicy ul li,
 .legal h2, .legal p{
    color:#707b51;
}
.privacyPolicy h2{
    margin-top:2.5rem;
}
.legal p{
    margin:0 auto;
}
.privacyPolicy a, .legal a{
    color:#3e2e28;
    font-size:.8rem;
    word-break:break-all;
}
/*navigation*/
.nav-container{
    background-color:#707b51;
    box-shadow:2px 2px 2px #383e28;
    transition:all ease .5s;
    z-index:2;
   
    width: 100%;
}
.nav-container h2{
    margin-top:0;
}
.logo{
    color:#fffcb3;
    font-size:2rem;
    font-variant:small-caps;
    font-family:'Pixelfont', sans-serif;
    margin-left:2rem;
    letter-spacing: 3px;
    text-decoration: none;
}
nav{
    font-family:'Pixelfont', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top:1rem;
    padding-bottom:.4rem;
}
nav ul{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    align-self:flex-end;
    margin-top:0;
    margin-right:1rem;
    padding-left:0;
}
nav ul li{
    margin:0 .3rem;
    list-style:none;
    text-transform:uppercase;
    transition:all ease-in 1s;
    padding:.5rem;
}
nav ul li:hover{   
    background-color:#fffcb3;
    border-radius:5px;
    padding:.5rem;
}
nav ul li a{
    color:#fffcb3;
    font-size:1rem;
    padding:.5rem;
    text-decoration: none;
}
nav ul li:hover a{
    color:#707b51;
}

/*footer*/

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    color:#707b51;
    background-color: #fffcb3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    padding-bottom:1rem;   
    width: 100%;    
   /* border-top: 2px solid #557064;*/
}

footer a{
    color:#707b51;
    text-decoration: none;
}
.footer-games{
    min-width:30rem;
}
.connect-icons{
    margin-bottom:1rem;
}
/*cookies*/

.unlimited-content---nb-simple{
    left:0;
    right:auto;
}

.cc-message{
    color:#fffcb3;
}
.cc-link{
    font-family:'Pixelfont', 'Helvetica';
}
.cc-color-override--167202574 .cc-btn{
    color:#707b51 !important;
    font-family:'Pixelfont', 'Helvetica';
}
.cc-window{
    border-top:2px solid #707b51;
}


@media(min-width: 600px){
    footer{
        flex-direction: row;
        padding-bottom:0;

    }
   
}
@media(orientation: landscape){
    .connect-icons{
        margin-bottom:0;
    }
}


@media(min-width:700px){
    .startBtn{
        font-size: 1rem;
        font-weight: bold;
        padding:1rem 4rem;
    }

}
@media(min-width: 850px){
    .player, .npc img{
        width: 50px;
        height: 50px;
    }
    .nav-container{
        position: fixed;
        top:0;
        left:0;
        right:0;
    }
    nav ul li a{
        font-size: 1.5rem;
    }
    #title{
        width: 100%;
    }
    .about-content{
       
        background-size:100% 100%;
        padding: 6rem;   
    }
    .about-container, .contact-container{
        font-size: 1.5rem;
        padding-top: 15rem;
        min-height: 100vh;
    }
    .about-container .btn-row, .contact-container .btn-row{
        flex-direction: row;
        
    }
    .about-container .btn, .contact-container .btn{
        margin-bottom:0;
        margin-right: 1rem;
    }
    .privacyPolicy, .legal{
        margin-top:10rem;
    }
    .privacyPolicy a, .legal a{
        font-size:1rem;
    }
    .connect-icons{
        margin-bottom: 0;
    }
    .welcome{
        font-size:2rem;
        padding-left: 6rem;
    }
    .header-img{
        height: 30rem;
        margin-top: 3rem;
    }
    .container{
        min-width: 75rem;  
        min-height: 900px;  
    }

    /* 
     .cloudGameBtn img, .coinCollectorBtn img, .jumpingCatBtn img, .platformerBtn img{
        width: 200px;
        height: auto;
    } */

    .btnTextAdv img, .aboutBtn img, .gamesBtn img, .contactBtn img, 
      .yogaCatBtn img, .islandOfSecretsBtn img, .catDetectiveBtn img, .slidePuzzleBtn img{
        width: 200px;
        height: auto;
    }
    .javaBtn img{
        width: 100px;
        height:auto;
    }
    .npcSpeechBubble{
        top: -200px;
        left: 100px;
    }
    .npcSpeechBubble h2{
        font-size: 2rem;       
    }  
    .npcSpeechBubble ul li{
        font-size:2rem;
    }
    footer{
        min-width: 30rem;
    }
}